<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   

</head>
<body>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="/assets/12.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">List of Patients</h5>
                    <p class="card-text">Explore the list of patients and their medical reports.</p>
                    <a href="patientsnames" class="btn btn-primary">View Patients</a>
                </div>
            </div>
        </div>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="/assets/15.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Add New Patient</h5>
                    <p class="card-text">Add a new patient's information to the database.</p>
                    <a href="addpatient" class="btn btn-primary">New Patient</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
