<!-- Section: Design Block -->
<section >
    
    <style>
      .background- {
        background-color: rgb(214, 217, 222);
      
      }
      .bg-glass {
        background-color: hsla(0, 0%, 100%, 0.9) !important;
        backdrop-filter: saturate(200%) blur(25px);
      }
    

    </style>
     

   <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a style ="color: rgb(88, 88, 120); font-size: 50px;">Health Hospital</a>
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active"  aria-current="page" href="#" style="color: gray; font-size: 20px;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="doctors" style="color: gray; font-size: 20px; " >Doctors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="patient" style="color: gray; font-size: 20px;">Patients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="appointment" style="color: gray; font-size: 20px;" >Appointment</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link " href="contact" style="color: gray; font-size: 20px;" >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>



        
      <div class="row gx-lg-5 align-items-center mb-5">
      
  
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
  
       
        </div>
      
    </div>
  
  </section>
 
  <!-- Section: Design Block -->
<router-outlet></router-outlet>
